<h2>All Students</h2>
<section>
  <table><% @students.each do |student| %>
    <%= render "student_list", locals: { student: student } %>
  <% end %></table>
</section>

<% if current_user.admin %>
  <div>
    <%= link_to "Add Student", new_student_path %>
  </div>
<% end %>
