<section class="user-section">
  <h2>All Students</h2>
  <%= form_tag "/students", method: :put do %>
    <table>
        <th></th>
        <th>Student Name</th>
        <th>Grade Level</th>
        <th>GPA</th>
        <th>Disciplinary Strikes</th>
        <th>Teacher</th>
    <% @students.each do |student| %>
      <tr>
        <td><%= check_box_tag "student_ids[]", student.id, student.teacher == current_teacher %></td>
        <%= render partial: "student_list", locals: { student: student } %>
      </tr>
    <% end %></table>

    <%= submit_tag "Select Student(s)", name: :select_multiple, class: "button" %>

  <% end %>
</section>
