<section class="header-section">
  <h1> StudyBuddy </h1>

  <% if logged_in? %>
    <%= link_to current_teacher.name, teacher_path(current_teacher.id), class: "button" %>
    <%= link_to "Home", root_path, class: "button" %>
    <%= link_to "Log Out", sessions_path(current_teacher.id), class: "button" %>
  <% end %>
</section>
