<section class="header-section">
  <h1> StudyBuddy </h1>

  <% if logged_in? %>
    <%= link_to @teacher.name, teacher_path, class: "button" %>
    <%= link_to "Home", root_path, class: "button" %>
    <%= link_to "Log Out", logout_path, class: "button" %>
  <% end %>
</section>
